* {
		box-sizing: border-box;
	}
	body {
		margin: 85px 0 0 0;
		width: 100%;
	}
	header img {
		display: block;
		margin: 0 auto;
	}
	nav {
		position: relative;
		background: #6b9ad0;
		height: 54px;
		text-align: center;
		margin: 16px 0;
	}
	nav ul {
		line-height: 54px;
		margin: 0;
	}
	nav ul li {
		position: relative;
		text-transform: uppercase;
		display: inline-block;
	}
	nav ul li a {
		display: inherit;
		line-height: 54px;
		width: 150px;
		color: white;
		font-family: sans-serif;
		text-decoration: none;
	}
	nav ul li a:hover {
		background: #2f79cd;
	}
	nav ul li a:hover:after {
		content: "";
		display: block;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #2f79cd;
		left: 65px;
		position: absolute;
	}
	main {
		display: block;
		width: 953px;
		margin: 0 auto;
		padding: 0 14px;
	}
	.articles {
		width: 640px;
		float: left;
		font-family: sans-serif;
	}
	.articles article {
		margin-top: 53px;
	}
	.header-img {
		display: block;
		width: 640px;
		height: 230px;
		overflow: hidden;
	}
	.header-img img {
		margin-top: -96px;
	}
	.articles article h3 {
		color: #9ba2a7;
		margin-top: 14px;
	}
	.first-line {
		margin-top: -12px;
	}
	summary {
		float: right;
		width: 255px;
		margin: 48px 2px 0 0;
	}
	time {
		display: inline-block;
		padding: 5px;
	}
	time img {
		float: left;
	}
	time span, .author span {
		vertical-align: center;
		font-size: 13px;
		margin-left: 5px;
		color: #a2aab2;
	}
	.articles article .author {
		margin-left: 5px;
		display: inline-block;
	}
	.socials {
		display: inline-block;
		float: right;
		width: 284px;
		height: 24px;
	}
	.socials div {
		height: 100%;
		border-radius: 3px;
		display: inline-block;
		min-width: 42px;
		color: white;
		line-height: 24px;
		text-align: right;
		padding-right: 7px;
		font-size: 14px;
	}
	.socials img {
		float: left;
		height: 24px;
		width: 24px;
	}
	.socials img:after {
		content: "";
		clear: both;
	}
	.socials .facebook {
		background: #3c5a98;
	}
	.socials .google-plus {
		background: #c25234;
	}
	.socials .twitter {
		background: #00aced;
	}
	.socials .vk {
		background: #48729e;
	}
	.socials .odnoklassniki {
		background: #d83933;
	}
	.second-line {
		margin-top: 4px;
	}
	.articles section {
		font-size: 12px;
		color: #a2aab2;
		padding-top: 10px;
		line-height: 140%;
	}
	footer {
		margin-top: 53px;
		margin-bottom: 53px;
	}
	footer img{
		display: block;
		margin: 0 auto;
		width: 80px;
		height: 80px;
	}
	summary article {
		margin-bottom: 26px;
	}
	summary header {
		width: 100%;
		height: 29px;
		background: #6794b7;
	}
	summary header div {
		width: 30px;
		height: 34px;
		background: #6794b7;
		line-height: 34px;
		text-align: center;
		color: white;
		font-family: sans-serif;
		font-size: 20px;
	}
	summary section {
		font-size: 13px;
		color: #a2aab2;
		padding-top: 20px;
		line-height: 140%;
	}
	aside {
		font-family: sans-serif;
		font-size: 12px;
		color: white;
	}
	.arrow {
		height: 18px;
		background: #6794b7;
		position: relative;
		line-height: 18px;
		text-align: center;
		display: inline-block;
		padding: 0 16px;
		margin: 0 9px 6px 0;
	}
	.arrow:after {
		content:"";
		position: absolute;
		left: 100%;
		width: 0;
		height: 0;
		border-bottom: 9px solid transparent;
		border-left: 9px solid #6794b7;
		border-top: 9px solid transparent;
	}